
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #111; /
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #00ffde; 
}


h1, .placar {
    text-shadow: 0 0 5px #00ffde, 0 0 10px #00ffde;
}


#area-jogo {
    position: relative;
    width: 800px;
    height: 400px;
    background-color: #000;
    border: 3px solid #00ffde;
    box-shadow: 0 0 15px #00ffde;
    overflow: hidden;
}


.raquete, #bola {
    background-color: #ff00ff; 
    box-shadow: 0 0 10px #ff00ff, 0 0 15px #ff00ff;
}

.linha-central {
    border-left: 2px dashed #00ffde;
   
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    transform: translateX(-50%);
}
}